[2014-10-24 13:45] awheeler opened #41 "Cloudstack VMs are often killed by Scalr before they start"
I am using the latest Scalr Open Source (5.0), but this problem is not new.
When Scalr requests a new instance from Cloudstack, it often shows pending terminated almost immediately.
After much debugging, it turns out that when Cloudstack first creates a new VM, it's initial state is stopped, and Scalr treats stopped as a terminated state (should really be suspended if anything):
https://github.com

[2014-11-29 02:55] awheeler opened #47 "`cloudstack.network_type` is not automatically configured in the API"
I need to create farms completely from scratch via API on CloudStack, and this line:
https://github.com/Scalr/scalr/blob/master/app/src/api/class.ScalrAPI_2_3_0.php#L283
is preventing it, but I don't see any reason CloudStack wouldn't work just fine.

[2014-12-04 05:59] awheeler opened #52 "There doesn't appear to be any way to get the stdout/stderr of a script through the API"
It looks like the API perhaps used to do this, but that data is no longer in the scripting_log table, the message field is always NULL.
It looks like when the UI requests that information, a call is made to the scalarizr agent on the server in question to retrieve the script output.
This means that if the agent dies, or the server is terminated, all the output of the scripts executed on it is lost

[2015-01-05 16:44] #52 closed

[2015-01-28 16:48] wingZero21 opened #54 "Issue booting CentOS7 image"
Hi,

Just wanted to confirm if we are able to boot CentOS7 images in scalr currently.

There was an issue initially which I have resolved by amending one of the py scripts which is checking for the lease file to create the role/image.

However when attempting to boot the image its currently sticking in a pending state.

Details on scalarizr issue now resolved:
https://github.com/Scalr/scalarizr/pu

[2015-01-28 17:06] maratkomarov commented on #54
We've just released Scalarizr 3.3.3 with a fix for leases pattern. Please try it again

[2015-01-29 09:40] wingZero21 commented on #54
Hi,

I have tried this again with 3.3.3 however when booting the image its still just getting stuck in the pending state.

[2015-01-29 10:35] maratkomarov commented on #54
scalarizr_debug.log will be helpful

[2015-01-29 14:55] wingZero21 commented on #54
Hi,

I have attached the log as requested.
[scalarizr_debug.log | uploaded via ZenHub](https://files.zenhub.io/54ca49f2ea33564f0cc0a385)

[2015-01-29 15:03] maratkomarov commented on #54
You have a 3.3.2 bundled on this server, and it can't start and update to 3.3.3 because of discussed issue. Please create new role with a 3.3.3

Regads,
Marat

[2015-01-29 15:32] wingZero21 commented on #54
Hi,

I have created a new role with 3.3.3 however the same issue still seems to occur.

This is the agent that is installed on the image currently.

[code]

[2015-01-29 15:44] maratkomarov commented on #54
The log you've provided seems from instance you've imported. Please attach log from server hanged in Pending

[2015-01-29 15:45] wingZero21 commented on #54
Hi,

I have added latest onto the farm the and the image has now booted.

Cheers!

[2015-01-29 15:45] #54 closed

[2015-02-04 08:09] wingZero21 opened #55 "Query on Storage API adding a second disk to role/server"
Hi,

Do you know if its going to be possible to add a second disk to the role/server within the API.

Currently this is available to perform within the gui. I cant find anything on the docs to confirm this currently, do you know if this is a feature that is being looked at?

[2015-02-04 08:35] krallin commented on #55
Do you mean adding a new storage entry in the Storage Tab? If that is correct, the yes, ultimately, you will be able to do so.

[2015-02-04 08:35] #55 closed

[2015-02-12 10:50] wingZero21 opened #56 "Query on chef-zero"
Hi,

Do you know if there are any plans to support chef-zero as an option within scalr?

Based on this article it looks like it will eventually succeed solo.

https://www.chef.io/blog/2014/06/24/from-solo-to-zero-migrating-to-chef-client-local-mode/

[2015-02-12 13:50] krallin commented on #56
Hey there,

This isn't currently planned.

Naturally, we'll look into it if Chef-Solo ends up deprecated and we see substantial customer demand for it!

Cheers,

[2015-02-12 13:50] #56 closed

[2015-02-23 21:08] awheeler opened #57 "After rebooting the volumes don't remount"
This is similar to #46, but doesn't appear to be related to reuse setting.
Running scalr 5.1, and scalarizr 3.2.4, cloudstack.
The filesystems mount correctly on creation, but not on reboot.
No entries are created in /etc/fstab.

[2015-02-23 21:35] awheeler commented on #41
Did the fix make it into 5.1, or 5.3, or?

[2015-02-23 21:36] awheeler commented on #47
Any timeline on this?

[2015-02-23 22:19] krallin commented on #47
@DicsyDel ?

[2015-02-23 22:19] krallin commented on #41
I'll let @DicsyDel handle that one as well!

[2015-02-24 00:00] DicsyDel commented on #47
That was fixed in 5.3. Feel free to re-open this ticket if you'll have any issues with this. "cloudstack.network_type" should not be configured during farm configuration. It will be automatically configured after launch of first instance of this FarmRole.

Regards,
Igor

[2015-02-24 00:00] #47 closed

[2015-02-24 00:01] DicsyDel commented on #41
This should be fixed in 5.3, at least we were not able to reproduce this in 5.3 branch after big refactoring of CloudPoller  cronjob. Feel free to re-open this ticket if after upgrading to 5.3 you'll continue to get same behavior.

Regards,
Igor

[2015-02-24 00:01] #41 closed

[2015-02-24 12:21] maratkomarov commented on #57
Issue was fixed in 3.3.15 / 3.2.5

[2015-02-24 14:56] awheeler commented on #57
Excellent!  Thank you!

[2015-02-24 14:56] #57 closed

[2015-02-24 14:58] awheeler commented on #41
Fantastic news.  Do you have an ETA on 5.3 dropping?

[2015-02-24 15:03] krallin commented on #41
Hey Alex,

It should ship later this week. It's already in a branch of things repo,
the packages aren't ready yet is all.

Cheers,
On Feb 24, 2015 6:58 AM, "Alex Wheeler" <notifications@github.com> wrote:

[2015-02-24 15:11] awheeler commented on #41
Excellent!  I  did see the new branch.  I also see there is no 5.2, so the upgrade instructions are a little confusing on that front.  Would I just aggregate the 5.1->5.2, and 5.2->5.3 instructions?

[2015-02-24 15:19] krallin commented on #41
Hey Alex,

That's correct. Scalr 5.2 did exist, only it wasn't an OSS release : )

There will be packages (debs and RPMs) once we do publish 5.3.

Cheers,
On Feb 24, 2015 7:11 AM, "Alex Wheeler" <notifications@github.com> wrote:

[2015-02-25 15:55] awheeler commented on #41
Now that I am on 5.1, and lost my work-arounds, I am trying DicsyDel's comment from Dec 23, 2014, as I am experiencing the issue again.  Looking forward to 5.3 packages.

[2015-03-02 10:48] dandart opened #58 "No module named rackspacenguk"
Getting this error when I start scalarizr.

Using scalarizr 3.1.10 (3.1.7 didn't agree with it either).
This causes scalr not to be able to run scripts on our system.

I have scalarizr and scalarizr-openstack installed in ubuntu.

Please help us solve this

Cheers

[2015-03-02 17:46] DicsyDel commented on #58
What version of scalr you're using?

[2015-03-10 14:41] dandart commented on #58
On v. 4.5 as upgrades haven't been made easy for our setup

[2015-03-10 16:47] DicsyDel commented on #58
Issue was fixed in Scalr >= 5.0 . You'll need to upgrade scalr to fix this issue.

Regards,
Igor

[2015-03-11 07:03] akshaykumar6 opened #59 "Set multiple frequencies for AWS auto-snapshot"
Scalr allows to create task for auto snapshot for every X hours and set rotation frequency. But most of the time, we need to set multiple frequencies for auto snapshot like hourly, weekly, monthly, etc.

It would be a good enhancement as I couldn't find a way to do this now.

[2015-03-11 10:52] hanfi opened #60 "Can't create role"
Hello,

I installed Scalr on AWS using the [installer-ng](https://github.com/Scalr/installer-ng)
And i have this issue when i try to creating a new role.
I looked on google but i didn't found something that could help me.

[code]

Thx.

[2015-03-11 11:12] hanfi commented on #60
The signature on the server and in the temporary machines is the same.

[2015-03-11 11:49] krallin commented on #60
I can see this was double posted to the scalr-discuss google group (https://groups.google.com/forum/#!topic/scalr-discuss/EA-DWBWtJ8I)

I'll close this issue down since I responded there.

[2015-03-11 11:49] #60 closed

[2015-03-31 14:31] mpavlov opened #61 ""Your session became invalid" randomly"
On random pages, and not seemingly related to any previous activity, clicking on a Scalr UI item that performs a background API call results in a 403 "Your session became invalid" and redirects to the login screen.

At that point, attempting to login again immediately results in invalidating the session, and returning to the login screen.

The only workaround is to wait 1-5 minutes and try to logi

[2015-03-31 15:27] krallin commented on #61
Hi @mpavlov,

I think this is a known issue. To confirm this, can you check the logs in `/opt/scalr-server/var/log/php/php-errors.log`, and confirm whether there are memcached-related errors?

They might look like this:

    [31-Mar-2015 14:23:39 UTC] 2015-03-31 14:23:39 Error E_WARNING session_write_close(): Failed to write session data (memcached). Please verify that the current setting of sessi

[2015-03-31 15:30] mpavlov commented on #61
Confirmed. Our `/opt/scalr-server/var/log/php/php-errors.log` does contain "Failed to write session data (memcached)" entries.

[2015-03-31 17:46] mpavlov commented on #61
Is this the known issue you were referring to? http://stackoverflow.com/questions/12112319/failed-to-write-session-data-php-and-memcached

Any known workarounds?

[2015-03-31 17:52] krallin commented on #61
No, I meant it's a known issue in the sense that we know it happens in Scalr. We're investigating why. The answers don't really applicable to our case.

If you're able to consistently reproduce this, it might be worthwhile to try and get some more logging out of Scalr and Memcached. Let me know if you'd be amenable to making a few configuration changes so we can do that.

Cheers,

[2015-03-31 18:05] mpavlov commented on #61
Absolutely. Let me know what I can do to help.

[2015-03-31 19:05] buzzy commented on #61
Did you check if you are running out of file descriptors? Just to make sure, could you increase your file descriptor limit and see if you still experience the problem?

[2015-03-31 19:09] buzzy commented on #61
You might also want to check if you have lots of TCP connections in TIME_WAIT state when the problem occurs. Check it with "netstat -a"

[2015-03-31 19:46] mpavlov commented on #61
@buzzy This doesn't seem to be the problem.

Raising the limits and restarting made no difference.
[code]

I don't seem to have an overwhelming number of connections either:
[code]

The server we're working with is a test installation, not yet open to the user base, so we don't expect it to be a load problem. The instance it's running on is an AWS m3.large.

[2015-03-31 19:50] DicsyDel commented on #61
@mpavlov Can you please contact me in skype: igorwebta so we will try to troubleshoot this issue.

Thanks,
Igor

[2015-04-01 09:37] krallin commented on #61
Hey @mpavlov,

I have pushed a new version of the `scalr-server` package that includes a patch to `php-memcached` that should provide us with superior logging (https://github.com/Scalr/installer-ng/commit/105a79aae4b1071a419614fd5584dd64738470d9).

Can you try updating your `scalr-server` package to anything greater than or equal to `5.3.2.oss~nightly.20150401091537.281`?

Then, reproduce the issu

[2015-04-01 15:19] mshibla commented on #61
I'll take over the issue from here.  I was working with @DicsyDel yesterday.  @krallin I'll do as you ask and post the reported cause when I get it.

[2015-04-01 15:20] krallin commented on #61
Thanks @mshibla !

[2015-04-01 17:14] mshibla commented on #61
This is the php-errors.log output during the reproduction, following the upgrade to 5.3.2.oss~nightly.20150401091537.281.d2c2a73.105a79a~ubuntu.precise-1:
---
[01-Apr-2015 17:10:49 UTC] 2015-04-01 17:10:49 Error E_WARNING session_start(): Memcached: Write of lock failed: SERVER IS MARKED DEAD, in /opt/scalr-server/embedded/scalr/app/src/Scalr/Session.php:167
Backtrace:
  #0 [internal function]: Sc

[2015-04-06 17:12] krallin commented on #61
@mshibla , @mpavlov

Just a quick note that I'll soon have something else for you to try. The goal will be to figure out why the Memcached session is failing (i.e. why our server is "MARKED DEAD").

I also have an idea for a quick fix that *might* work for you. I'd rather not try this until we get to the bottm of the issue, but it's up to you to let me know what you want to do.

Cheers,

[2015-04-06 18:26] krallin commented on #61
@mshibla , @mpavlov ,

Can you do the following?

1. Update to a package version >= `289`

2. Install make, gcc, automake, autoconf, pkgconfig (i.e. typical build environment). If you forget something that's OK, you'll be told when you run `./configure ..` below.

3. Run the following commands:

    wget https://launchpad.net/libmemcached/1.0/1.0.18/+download/libmemcached-1.0.18.tar.gz
    tar -xf

[2015-04-06 21:30] mshibla commented on #61
@krallin Yes, I will do this tomorrow and will post the results here.

[2015-04-07 20:33] mshibla commented on #61
There's a compilation error.  I can try to debug (tried a bit already), but wanted to report back here:
root@scalr-test2:~/libmemcached-1.0.18# make
make -j3  all-am
make[1]: Entering directory `/root/libmemcached-1.0.18'
  CXX      libhashkit/libhashkit_libhashkit_la-aes.lo
  CXX      libhashkit/libhashkit_libhashkit_la-algorithm.lo
  CXX      libhashkit/libhashkit_libhashkit_la-behavior.lo
  CXX

[2015-04-07 20:45] krallin commented on #61
@mshibla ,

The output of `./configure ...` had no errors?

[2015-04-07 20:52] mshibla commented on #61
This is the output:
root@scalr-test2:~/libmemcached-1.0.18# source /opt/scalr-server/bin/activate-build-environment
root@scalr-test2:~/libmemcached-1.0.18# ./configure --prefix=/opt/scalr-server/embedded --without-mysql --without-gearmand --without-lcov --without-genhtml --without-sphinx-build --with-memcached=/opt/scalr-server/embedded/bin/memcached
checking for cc... cc
checking whether the C co

[2015-04-08 08:29] krallin commented on #61
Looks like you don't have `g++` installed. Unsure why `configure` isn't flagging  that more explicitly

Can you run: `apt-get install -y build-essential` and then try again (both `configure` and `make`)

Cheers,

[2015-04-08 13:59] mshibla commented on #61
The build-essential package did the trick (mostly).  I installed libmemcached as instructed, but after restarting httpd, I cannot login.  The reported error is:
---
Service is temporary not available. Please try again in a minute.
---
I see the following in the /opt/scalr-server/var/log/httpd/web.error.log:
---
[Wed Apr 08 13:44:03.622612 2015] [mpm_prefork:notice] [pid 32418] AH00169: caught SIGT

[2015-04-08 14:09] krallin commented on #61
@mshibla ,

You need to run `source /opt/scalr-server/bin/activate-build-environment` before you run `./configure`, otherwise you won't link against the right libraries (and in this case, it resulted in you building libmemcached without SASL support).

Can you retry, following steps 3 through 8 I sent earlier?

Cheers,

[2015-04-08 16:27] mshibla commented on #61
Indeed.  Here is the log data:
---
root@scalr-test2:~/libmemcached-1.0.18# cat /tmp/libmemcachd.log
(0x133a700) FAILED TO SEND AUTHENTICATION TO SERVER, no mechanism available,  host: 127.0.0.1:6281 -> libmemcached/sasl.cc:238
(0x133a700) SERVER IS MARKED DEAD,  host: 127.0.0.1:6281 -> libmemcached/connect.cc:696
(0x133a700) SERVER IS MARKED DEAD,  host: 127.0.0.1:6281 -> libmemcached/connect.cc:6

[2015-04-08 16:42] krallin commented on #61
@mshibla

Just to confirm: you are using Memcached as provided by Scalr, right?

Looks like something is wrong with Memcached. Can you reach out to me at thomas@scalr.com so we can try and schedule a screenshare or a SSH session so I can look into it directly?

Cheers,

[2015-04-08 16:50] mshibla commented on #61
Yes, I believe I am using memcached as provided by scalr.  I have sent you an email with timing for a screen sharing session.

-Matt

[2015-04-09 16:36] krallin commented on #61
Thanks for your time in troubleshooting this @mshibla. Glad upgrading to the newer package made it work for you.

I'll try to look at the logs we extracted to get to the bottom of this!

Cheers,

[2015-04-09 16:36] #61 closed

[2015-04-21 12:52] mshibla opened #62 "Scalr lease management not working as intended"
I don't think lease management is working correctly.  Please see 3 attached screenshots.  In the first, you see 5 farms, 4 running, all 4 with lease governance enabled.  You see the dates the farms were started: April 16th, 2015.  In the 2nd screenshot, you see the mouseover of the lease icon which shows that the lease is set to expire in 2 days (for the first farm).  The 3rd shows the governance

[2015-04-21 15:23] krallin commented on #62
Hey Matt,

As mentioned over email, the team is looking into this.

cc @recipe

Cheers,

[2015-04-21 20:15] mshibla commented on #62
@krallin  mentioned that the lease management log is available in /opt/scalr-server/var/log/service/php-lease_manager.log:
...
root@scalr-test2:/opt/scalr-server/var/log/service# cat php-lease_manager.log
sh: 1: -t: not found
sh: 1: -t: not found
sh: 1: -t: not found
sh: 1: -t: not found
sh: 1: -t: not found
sh: 1: -t: not found
sh: 1: -t: not found
root@scalr-test2:/opt/scalr-server/var/log/servi

[2015-04-23 10:29] recipe commented on #62
regarding `sh: 1: -t: not found` it must be missing sendmail path in php.ini
Reference: http://axiac.ro/blog/2013/06/sh-1-t-not-found/

[2015-04-24 16:09] krallin commented on #62
@mshibla ,

Just FYI, we'll soon be releasing a new version of the installer that changes the way e-mailing works.

This should make the errors you're seeing go away, and those might be
Cheers,

[2015-04-27 14:39] mshibla commented on #62
FYI: I installed sendmail on the scale server and now I have logs in /opt/scalr-server/var/log/service/php-lease_manager.log.  The log entries in that file indicate regular checking for lease tasks and not finding any, e.g.:
...
Apr 22 20:22:00 +00:00 - lease_manager@10457 - INFO - Fetching farms...
Apr 22 20:22:00 +00:00 - lease_manager@10457 - INFO - 0 lease tasks were found
...
To me, this look

[2015-04-29 18:34] recipe commented on #62
@mshibla Could you apply [this patch](https://gist.github.com/recipe/4470b9e183c699d9232f) and set `log_level: DEBUG` in `config.yaml`

[code]
then restart service, wait or start lease_manager manually and provide us with the output from the `/opt/scalr-server/var/log/service/php-lease_manager.log`

[2015-04-29 22:24] mshibla commented on #62
Ack.  I'll get to it tomorrow, thanks.

-Matt

On Wed, Apr 29, 2015 at 2:34 PM, Vitaliy Demidov <notifications@github.com>
wrote:

[2015-04-30 14:09] mshibla commented on #62
FYI, my config.yml shows:
    lease_manager:
        enabled: true
rather than "enabled: yes" .  May I assume that true is the correct syntax and you primarily wanted the log_level set to DEBUG rather than INFO?

[2015-04-30 14:12] krallin commented on #62
@mshibla ,

`yes` and `true` are equivalent in YAML — you can keep it as-is.

Cheers,

[2015-04-30 14:24] mshibla commented on #62
Here is the log output, first 4 lines are previous runs before the patch, the remainder the first run after the patch:
...
Apr 30 14:02:01 +00:00 - lease_manager@5343 - INFO - Fetching farms...
Apr 30 14:02:01 +00:00 - lease_manager@5343 - INFO - 0 lease tasks were found
Apr 30 14:22:01 +00:00 - lease_manager@12091 - INFO - Fetching farms...
Apr 30 14:22:01 +00:00 - lease_manager@12091 - DEBUG - P

[2015-05-11 16:11] Invar commented on #62
@mshibla,

We've found the issue. Could you apply [this patch](https://gist.github.com/Invar/8c23479c74cf42de797c) ?

[2015-05-11 18:46] mshibla commented on #62
I have applied the patch.  Note that this patch was made against the original code, not the debug logging code you had me apply earlier.  Therefore, I had to alter the patch accordingly.  The patch appeared not to have worked.  Here are the logs.  The first two lines (18:22) are before the patch was applied, the remainder from the first lease manager run after the patch was applied:
...
May 11 18:

[2015-05-11 18:48] mshibla commented on #62
Apologies.  I have erred with the patch and have just fixed it.  Will update with the next lease manager run.

[2015-05-11 19:05] mshibla commented on #62
Hrmm.  That didn't appear to work, either:
...
May 11 18:42:01 +00:00 - lease_manager@5675 - INFO - 0 lease tasks were found
May 11 18:42:01 +00:00 - lease_manager@5675 - DEBUG - Client recieved termination SIGNAL:0

May 11 19:02:01 +00:00 - lease_manager@11638 - INFO - Fetching farms...
May 11 19:02:01 +00:00 - lease_manager@11638 - DEBUG - Processing environment with ID: 1
May 11 19:02:01 +00:00

[2015-05-11 19:07] Invar commented on #62
Please do not use this patch. I will provide another one later.

[2015-05-11 19:10] mshibla commented on #62
Here is the current state of that file around this section.  Note that the SELECT line is different:
...
                $dt = new DateTime();
                $dt->add(new DateInterval('P' . $period . 'D'));

                $this->log("DEBUG", "[EnvId: %d] Calculated Lease terminate date: %s", $env['env_id'], $dt->format('Y-m-d H:i:s'));

                $fs = $db->GetAll("
                    SE

[2015-05-11 19:22] mshibla commented on #62
This is the that section of the file after reverting the patch.  This still includes the debug patch:
...
                $dt = new DateTime();
                $dt->sub(new DateInterval('P' . $period . 'D'));

                $this->log("DEBUG", "[EnvId: %d] Calculated Lease terminate date: %s", $env['env_id'], $dt->format('Y-m-d H:i:s'));

                $fs = $db->GetAll("
                    S

[2015-05-14 09:35] recipe commented on #62
@mshibla latest version of [LeaseManager.php](https://github.com/Scalr/scalr/blob/a67e6e3a72703b0ee6f2f3c5454b752b204d33a2/app/src/Scalr/System/Zmq/Cron/Task/LeaseManager.php) in master branch fixes this issue.

[2015-05-14 12:46] mshibla commented on #62
Confirmed, the latest patch fixes the issue.  Many thanks.  Here are the logs, for posterity (first two lines from the previous run):
...
May 14 12:22:01 +00:00 - lease_manager@28382 - INFO - 0 lease tasks were found
May 14 12:22:01 +00:00 - lease_manager@28382 - DEBUG - Client recieved termination SIGNAL:0
May 14 12:42:01 +00:00 - lease_manager@1719 - INFO - Fetching farms...
May 14 12:42:01 +00:

[2015-05-14 18:32] #62 closed

[2015-06-09 01:26] #58 closed

[2015-06-18 19:00] rterbush opened #63 "Fiscal years whose quarter start is February 1 fail with error"
If you try to set a fiscal year that starts on February 1st and spans the potential leap-day, the system will produce an error which says: "You cannot specify Feb 29 as start date of the quarter."

[2015-06-18 19:17] recipe commented on #63
@rterbush thank you for the report!

[2015-06-18 19:38] recipe commented on #63
It has been fixed in master branch

[2015-06-18 19:38] #63 closed

[2015-09-26 00:53] asciifaceman opened #65 "Any chance for vCloud integration?"
Enhancement request I guess, wondering if VMWare vCloud is on the roadmap.

[2015-09-26 00:55] SebastianStadil commented on #65
Hey @asciifaceman, welcome to the community!

We haven't seen any demand for vCloud, so it isn't. Sorry we can't accommodate!

[2015-09-26 00:57] asciifaceman commented on #65
Thank you for your very fast response.

I can 100% understand why there is no demand for it, it is atrocious. The only reason I am even working with it is because people in suits make decisions ;)

[2015-09-26 00:57] #65 closed

[2015-09-26 01:01] SebastianStadil commented on #65
Yeah, one quick look at the API and we ran away. I totally get that you'd want to use the Scalr API instead of the vCloud one.

[2015-10-19 18:14] awheeler opened #66 "Scalr API does not honor API keys when auth_mode is ldap"
Running latest Scalr community: 5.8.29
I need users to be able to login via ldap, but I need automated processes to login via API keys.
I don't see any way to set this up, but it looks like [class.ScalrAPICore.php](https://github.com/Scalr/scalr/blob/master/app/src/api/class.ScalrAPICore.php#L384) already supports passing an `AuthType` argument in the API call set to `ldap` to auth via ldap,
 so I

[2015-10-19 18:43] recipe commented on #66
AuthenticateRESTv3 does vital part of the authorisation - fetches LDAP groups for that requested user to Scalr because it affects ACL.

[2015-10-19 19:00] awheeler commented on #66
Strange, it's not working for me at all -- all attempts to auth result in `Incorrect login or password (1) ` from: https://github.com/Scalr/scalr/blob/master/app/src/api/class.ScalrAPICore.php#L207

[2015-10-19 19:05] awheeler commented on #66
Looks like it's a misconfig on my end.

[2015-10-19 19:05] #66 closed

[2015-12-07 23:41] sacredwebsite opened #67 "Disable API Termination flag action missing"
I have a server which I enabled the "Disable API Termination flag" action on.
After immediately there is no option to enable or cancel the action.

This server has since been terminated in aws console.

Is there a way to purge this server now? the option to disable the action does not exist.
Any advice on where this action can be reverted is appreciated.

Best regards.

[2015-12-08 07:21] DicsyDel commented on #67
Hi @sacredwebsite,

This is known issue in Scalr CE, and it was already fixed in the Enterprise Edition. We're preparing a new release for Comunity Edition (should be out within the next couple weeks) where the issue will be fixed.

As workaround, you can remove entry from scalr.server_properties table. Serch by server_id and name = 'ec2.is_locked'

Regards,
Igor

[2015-12-08 16:31] sacredwebsite commented on #67
Thank you for your time @DicsyDel, I look forward to the upcoming release.

[2015-12-08 17:16] sacredwebsite opened #68 "Email field validations do not consider new TLD"
Hi,
Thank you for a masterful software.
I am having an issue where Scalr will not allow me to use my domain address in any of the email fields.
I have a FQDN with a TLD of ".website", unfortunately, scalr thinks this is not a real email address and thus does not allow me to use this (inbox@example.website). This may be an issue that will be of greater consideration as more new TLDs are released an

[2015-12-08 17:19] DicsyDel commented on #68
@Invar  Please take a look.

[2015-12-28 17:57] DicsyDel commented on #68
Fixed in 5.10.21

[2015-12-28 17:57] #68 closed

[2016-01-12 15:46] sacredwebsite commented on #67
Was this feature completely removed or fixed? After applying the latest CE release the option to add the Disable API Termination flag is missing from the server action menu. Was it decided to keep this only as an API function?

[2016-01-12 16:27] recipe commented on #67
It should appear in the server action menu (for AWS).

[2016-01-12 16:29] recipe commented on #67
Which the status of the Scalr Server is in the grid?

[2016-01-12 19:07] hassanbabaie opened #71 "Azure error. The api-version '2015-05-01-preview' is invalid"
This may be user error but when trying to create an image from Azure running in ARM mode I get the error below: (Main Drop Down - Images - Create Image from non-Scalr Server)

Azure error. The api-version '2015-05-01-preview' is invalid.

It then lists a number of valid API's just not "2015-05-01-preview"

I'm running:

5.10.21 (Community Edition)
REVISION e67c67d (Tue, 5 Jan 2016 17:21:43 +0300)

[2016-01-12 19:48] sacredwebsite commented on #67
I apologize, I assumed this function is also possible for GCE, is this AWS API specific call or a Scalr one?

[2016-01-12 20:02] recipe commented on #67
It is AWS specific `DisableAPITermination` attribute for the [ModifyInstanceAttribute API call](http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ModifyInstanceAttribute.html)

[2016-01-12 20:09] sacredwebsite commented on #67
thanks @recipe for helping me understand.

[2016-01-12 20:09] #67 closed

[2016-01-13 18:03] recipe commented on #71
Unfortunately this feature is not supported yet. Azure cloud is considered to be hidden from the feature "Create Image from non-Scalr Server".

[2016-01-13 18:09] DicsyDel commented on #71
A bit more details: Azure ARM (new compute API) doesn't have APIs to work with images. There is no way to create or manage custom images, so Azure support right now is limited to pre-defined marketplace images of Ubuntu, CentOS and Windows.

Regards,
Igor

[2016-01-13 19:47] hassanbabaie commented on #71
Thanks Vitaliy, given it's not hidden it might be worth noting that on the page. Just a thought.

Igor, thanks for the confirmation. Now one last ask as it's not mentioned anywhere that I could see, how to I get those images registered in Scalr?

Thanks!

[2016-01-13 19:52] DicsyDel commented on #71
By syncing shared roles: https://scalr-wiki.atlassian.net/wiki/display/docs/Packages+-+Sync+Shared+Roles

Regards,
Igor

[2016-01-13 21:08] hassanbabaie commented on #71
perfect, thanks Igor, I'll try this out later today

[2016-01-15 23:17] hassanbabaie commented on #71
I'm waiting on the request to be approved and will then perform the test

[2016-01-21 04:17] hassanbabaie commented on #71
Syncing has now resolved my problem, thank you both for the quick response

[2016-01-21 04:17] #71 closed

[2016-03-19 01:35] jseaidou opened #72 "Can't use scalarizr on SL"
I tried running scalarizr on SL6. I managed to modify the install_scalarizr.sh script to be able to recognize it.
Now when I try and import a server into scalar to create a image from it, I can not get past the Role Creation Progress since the Operating System dropdown is empty.

[2016-03-22 15:02] teamfighter opened #73 "Email comes malformed"
When I am configuring Scalr to send emails through relay, all letters comes in Base64 encoding, i.e. in client I have the following as a message body:

X-Mailer: SimpleMailer-0.2 PHP/5.6.17

Content-type: text/plain; charset=UTF-8

Date: Tue, 22 Mar 2016 14:31:50 +0000

Content-Transfer-Encoding: QUOTED-PRINTABLE

Message-ID: 7bf1ec928274530b5614a88c9c56c527.127.0.0.1
Return-Path: XXX@XXX
X-Origin

[2016-03-22 15:24] recipe commented on #73
Given that https://github.com/Scalr/scalr/blob/master/app/src/Scalr/SimpleMailer.php#L28 it should send `Content-Transfer-Encoding` header as `BASE64`. There is no place in Scalr where it is overridden.

[2016-03-22 16:03] teamfighter commented on #73
I have tried to change ENCODING_BASE64 variable from BASE64 to QUOTED-PRINTABLE.
All, that I got is just that:
Content-Transfer-Encoding: QUOTED-PRINTABLE instead of Content-Transfer-Encoding: BASE64 in body.
So this trick didnt worked for me.

[2016-03-22 17:47] maratkomarov commented on #72
Scalr don't know about Scientific Linux. It's necessary to add it in Scalr scope into Operation Systems

![screen shot 2016-03-22 at 12 17 01 pm](https://cloud.githubusercontent.com/assets/1004449/13961743/e14a4de2-f02b-11e5-9ce1-4692a260fa72.png)

After that, you'll see it in OS dropdown.

As for install_scalarizr.sh we've issued internal ticket to add SL support.

Regards,
Marat

[2016-03-23 00:01] jseaidou commented on #72
@maratkomarov can you tell me how you got to this page? I can't seem to find it in the Scalr UI

[2016-03-23 00:12] mlochead commented on #72
@jseaidou you have to be logged on as a Scalr global admin, and it's an available option in the top menu "operating systems", when you are the "Scalr scope" which is what you should see when you login with an admin user.

[2016-03-23 00:17] jseaidou commented on #72
Got it! thanks. That seems to have resolved it for me

[2016-04-06 22:18] #72 closed

[2016-04-22 16:59] davejohnston opened #74 "Unable to add private cloud with invalid SSL Cert"
Hi,  I'm trying to connect to a private cloud that has an invalid SSL cert.  It's been install locally for test purposes.
I can work around this with other libraries such as Fog by passing :ssl_verify_peer => false

Is there anyway to configure this in Scalr?  I can't find it in the docs

[2016-05-26 10:02] TimYi opened #75 "rotated image"
After resize, a rotated image won't rotate. It seems jpeg image has a TAG_ORIENTATION attribute, and scalr does not set it correctly.

[2016-05-26 13:45] recipe commented on #75
@TimYi  What is the image you are talking about?

[2016-06-29 09:45] csghuser commented on #61
What is the fix for this issue? We are seeing it as well, with version:5.3.2

[2016-06-29 18:06] DicsyDel commented on #61
Hi @csghuser,

5.3.2 was released more than a year ago. This bug was fixed a long time ago. You need to consider an upgrade to a newer version.

Regards,
Igor

[2016-07-01 05:12] gitlab-pano opened #76 "Error when enabling Detailed Billing"
The error is on the bucket name field, but I am sure the name is correct.

Cannot access billing bucket with name my-bucket-name. Error: AWS Error: Request GetUser failed. Credential should be scoped to a valid region, not US-West-2.  The scalr server is running in US-West-2. (I originally installed it in another region then moved it to US-West-2). Is there somewhere in the configuration that I ne

[2016-07-06 21:37] awheeler opened #77 "Scaling down activated during vm termination"
I'm running Scalr 5.11.22 community edition, managing Cloudstack 4.5.2.

After terminating a vm using Scalr, once the vm starts to shut down that vm shows as Suspended rather than Shutting Down or Destroyed -- for several minutes, even after having been destroyed by CloudStack.
By default suspended vms are counted against the number of running servers for that role, so once the replacement vm is r

[2016-07-22 08:13] TimYi commented on #75
something like this:
[A rotate image. It's rotate property is set to some degree.](http://cn.bing.com/images/search?q=image+rotate+property&view=detailv2&&id=6477920F525F90430EDCB9224DE7FA9724416CD3&selectedIndex=0&ccid=hb5joiMc&simid=608028423716864208&thid=OIP.M85be63a2231c8cf24fea561e181fddb9o0)

[2016-07-22 08:15] TimYi commented on #75
@recipe the image is not rendered rotated. It has an rotate property, and the property is set to some value. After scalr resize the image, it's rotate property lost.

[2016-07-26 14:00] recipe commented on #75
@TimYi Could you specify the steps to reproduce this issue in your version of Scalr. And link to screenshot to prove it does not work as expected. Which image in Scalr UI shows ugly in which circumstances?

[2016-07-29 04:54] chidambar-kulkarni opened #78 "Error creating Farm Role using API2"
Hi,

I am getting an error while trying to automate using Scalr API2. I get an error message "API Error (InvalidStructure): You must describe a VPC Router" HTTP bad request when I am trying to create Farm Role using the API "POST /api/v1beta0/user/<env_id>/farms/<farm_id>/farm-roles/". Below is the JSON request body that is being posted to the API as mentioned in the API2 documentation here: https

[2016-08-02 21:51] gitlab-pano commented on #76
This is still a problem.  The same exact settings work fine in the hosted version.

[2016-08-03 11:04] recipe commented on #76
@gitlab-pano This issue was fixed in Open Source Scalr 5.11.22. Cloud Credentials UI allows to select correct AWS cloud location for the detailed billing bucket http://i.imgur.com/xqF4qKK.png

[2016-08-04 12:13] recipe commented on #73
I am closing this tread as we cannot reproduce this and haven't heard about similar issues from our community.

[2016-08-04 12:13] #73 closed

[2016-08-27 21:10] sacredwebsite commented on #59
I second this. not sure if there is a feature request tracker elsewhere.

[2016-09-12 16:00] awgrover opened #79 "update to gevent 1.0.2 ('module' object has no attribute 'sslwrap')"
gevent 1.0.1 needs to be updated to 1.0.2. Please see https://github.com/gevent/gevent/issues/477
Here's the error in /opt/scalr-server/var/log/supervisor/service-analytics_poller.err (for a ubuntu 14.04 install)

[    analytics_poller][  8169] ESC[91m     ERRORESC[0m platform: 'ec2', region: 'sa-east-1', envs_ids: [1]. Re
ason: <type 'exceptions.AttributeError'> 'module' object has no attribute '

[2016-10-12 15:29] westbywest opened #80 "Web UI strips newlines from global variable default values when populated at lower scopes"
I encountered this issue on Scalr v 5.11.22 while creating a global variable for YAML content:
![default](https://cloud.githubusercontent.com/assets/947189/19316312/994a3864-9066-11e6-87e5-f91132055397.png)

If I then want to override that variable at the farm or server scope, the default value turns into this:
![lower-scope](https://cloud.githubusercontent.com/assets/947189/19316326/a699e258-9066

[2016-10-14 16:00] pitbulk opened #81 "Use php-saml >= 2.10.0"
[php-saml 2.10.0](https://github.com/onelogin/php-saml/releases/tag/v2.10.0) version.
It includes a security patch that contains extra validations that will prevent signature wrapping attacks and other security improvements.

[2016-10-14 16:38] recipe commented on #81
@pitbulk Thank you for heads up. We have introduced SAML support since Scalr Enterprise version 6.0 and this Scalr OS 5.11 version had only limited PoC sand-box without actual connection to Scalr accounts. Actually we planned to update php-saml for Scalr Enterprise and decided to wait for your 2.10.0 release. It will be updated in the upcoming Scalr Enterprise release.

[2016-10-14 16:38] #81 closed

[2016-11-16 12:54] h4wlt opened #82 "Documentation for running Scalr phpunit tests needs updating"
Hi,

I am currently trying to run the phpunit test suite contained within this project, the [documentation](https://github.com/Scalr/scalr/tree/45ee1379f061a0122557edcdd22fc58a7459fb95/app/tests) says to execute by calling ```phpunit <PATH TO SCALR>```  I have tried this, and also just tried calling phpunit in the root of the project (where the phpunit.xml file is located), I get the following err

[2016-11-16 14:23] recipe commented on #82
phpunit tests requires valid Scalr configuration `app/etc/config.yml`

[2016-11-17 08:32] #75 closed

[2016-12-07 14:35] seriousjelly opened #83 "Unable to login (xPostError /guest - Cannot read property 'trim' of undefined)"
I last used my instance a week ago with no issues logging in at all. Yesterday I went to login and it hangs at the login screen.

After inspecting the page I notice that an error is being sent to the /guest/xPostError url, the contents of which are:

[code]

The issue seems to be with this line `var cacheOriginal = cache.trim();` of the ui-1454677027.js file.

Any ideas?

[2016-12-07 14:52] seriousjelly commented on #83
@Invar A little more information for you, it would appear that a cacheId is not being found with in the request header:

ui-1454677027.js Line: 1829
[code]

`response.getResponseHeader('X-Scalr-Cache-Id')` returns `undefined`

[2016-12-09 10:39] seriousjelly commented on #83
Further comments:

Affects version 5.11.22 - Currently attempting a downgrade

A fresh install on a fresh Ubuntu 14.04 server results in the same issues as above.

[2016-12-09 10:51] recipe commented on #83
@seriousjelly Please check that all response headers that are sent by Scalr reach your local machine. BTW Scalr does not support downgrade of existing and already deployed architecture.

[2016-12-09 11:18] seriousjelly commented on #83
@recipe As mentioned above, it appears that the `X-Scalr-Cache-Id` header is missing from the request.

[2016-12-09 11:19] seriousjelly commented on #83
@recipe By downgrade, I mean rebuilding the server and installing the lower version. Not overwriting the existing version.

[2016-12-19 12:46] h4wlt opened #84 "Default 'timezone' not populated in the User Interface"
Hi,

By default Scalr is setting our default 'timezone' to 'Etc/UTC' in the 'FarmSettings' table, this option is not available in the UI so I assume this is why the field is currently appearing blank ('UTC' is available).  Since we upgraded to version 5.11 of Scalr, the timezone field is now mandatory and we are prompted to set this when making changes to any of the farms.

We are going to make a

[2017-01-17 04:58] soumypau1 opened #85 "Scalr support for TOSCA and Openstack Heat patterns"
Hi Team,
We are running Scalr 5.11.22 (Community Edition).
The orchestrator patterns created in Scalr - are they TOSCA compliant ?
Also,
1) Can we re-use our existing Openstack Heat templates in Scalr ?
2) Can we re-use our existing TOSCA patterns (Created in cloudify) in Scalr ?

-Soumyadeep

[2017-02-06 23:15] ccheline commented on #73
I had this same issue, but found that the problem was in my scalr.email.delimiter option.

Since I am running scalr on UNIX, I had to change this to 'lf'.
The default is CRLF, which caused the header to be malformed and ended up in a difficult to read email.

[2017-02-15 13:44] cwb124 opened #86 "Update documentation for new Azure portal"
Many of the docs and instructions for integrating Azure into Scalr are based around the old classic Azure portal which MS wants to phase out.  Please update documentation using the new Azure portal as the source of truth.

[2017-03-28 09:06] angarg12 opened #87 "AWS VM's stuck after Cloud-init"
I have a local Scalr deployment and I was following the [3 Tier Web App](https://scalr-wiki.atlassian.net/wiki/display/docs/3+Tier+Web+Application+-+Deployment) tutorial.

All steps work fine, but when I try to deploy the farm in AWS, all the machines get stuck after Cloud-init.

Here is the last line of the log

`Cloud-init v. 0.7.5 finished at Mon, 27 Mar 2017 13:06:49 +0000. Datasource DataSour

[2017-03-28 10:19] recipe commented on #87
Hi @angarg12 please ask this question in [Scalr Discuss](https://groups.google.com/forum/#!forum/scalr-discuss) Google group

[2017-03-28 10:19] #87 closed

[2017-04-05 12:45] masterxavierfox commented on #76
Hello @gitlab-pano did you ever solve this problem? im having the same problem

[2017-04-05 17:15] gitlab-pano commented on #76
Yes I did. It had to do with setting the correct region. Both when creating the billing bucket and when setting up the application. Both have to be the same. Us-east-1

Sent from my iPhone

[2017-04-11 22:04] bobbravo2 opened #88 "Updates to 7x?"
Looking forward to upgrading... Any release timeline for 7x?

[2017-04-12 15:45] DicsyDel commented on #88
At this time we don't have any specific ETA for the next open source release.

[2017-04-13 01:23] bobbravo2 commented on #88
I'd love it - I know its one of the reasons I've invested the time in learning your platform: you're confident enough to open source it. That, and having the source means our infrastructure isn't stranded if you don't maintain it.

Please consider updating 👍

[2017-04-24 16:20] seriousjelly commented on #83
Turns out that this was related to an internal network issue.

[2017-04-24 16:20] #83 closed

[2017-04-27 12:40] balpert89 opened #89 "Scalr installer fails with python error"
Hi there,

I installed the scalr binaries vie yum on a RHEL7.3 x64 system.
Upon calling the wizard I get the following python error:

[code]

[2017-04-28 03:12] buzzy commented on #89
What happens if you run "scalr-server-ctl show-attributes"?

[2017-04-28 07:23] balpert89 commented on #89
Hi @buzzy

this is the output:

``
./scalr-server-ctl show-attributes
Starting Chef Client, version 12.3.0
Compiling Cookbooks...
Recipe: scalr-server::_config_dir
  * directory[/etc/scalr-server] action create (up to date)
{
  "config_dir": "/etc/scalr-server",
  "install_root": "/opt/scalr-server",
  "enable_all": true,
  "routing": {
    "endpoint_scheme": "http",
    "endpoint_host": "10.222.2

[2017-04-28 08:04] buzzy commented on #89
Ok, that output is wrong. It should only be JSON and not the stuff around. Something must be wrong with your solo.rb file.

Try to run this: "/opt/scalr-server/embedded/bin/chef-solo -c /opt/scalr-server/embedded/cookbooks/solo.rb -j /opt/scalr-server/embedded/cookbooks/show-attributes.json"

Also paste the contents of "/opt/scalr-server/embedded/cookbooks/solo.rb"

[2017-04-28 08:31] balpert89 commented on #89
Hi @buzzy

output of the solo.rb:

[code]

output of the chef command:
[code]

[2017-04-28 09:24] buzzy commented on #89
I am unable to replicate your problem, but I would assume you have some weird system wide settings for STDERR and/or STDOUT.

Try creating a file like "test.sh" and paste the following:
[code]
If it does not only print the JSON, but also includes "Starting Chef Client, version 12.3.0...." then you need to figure out why STDERR output is saved in the variable when told not to.

[2017-04-28 09:35] balpert89 commented on #89
hm test.sh only prints out the required json:

[code]

[2017-04-28 09:40] buzzy commented on #89
Ok, that makes no sense at all :)

Open "/opt/scalr-server/bin/scalr-server-wizard" and paste the following:
[code]
right under this line:
`ATTRS=$("${CTL}" show-attributes 2>/dev/null)`

Then run scalr-server-wizard and check if you still only get the JSON

[2017-04-28 09:52] buzzy commented on #89
You can also paste this code before the "exit 0" line to print exactly what data python is getting (and writing error about)

[code]

[2017-04-28 14:17] balpert89 commented on #89
Hi @buzzy,

found the bug :-)

The call to "scalr-server-ctl" is not working because it somehow needs the full path, e.g. "/opt/scalr-server/bin/scalr-server-ctl", not just the script name.

Giving the full path the configuration works as intended, thanks for the help!

[2017-04-28 14:17] #89 closed

[2017-05-22 15:20] davemeekin opened #90 "documentation discrepancy"
The scalr api v2 documentation suggests 'status' should be returned when querying Farms https://api-explorer.scalr.com/user/farms/get.html

Running against the open source version this doesn't seem to be the case. An example response is below:

```{"meta"=>{"requestId"=>"97d16ba9-ea85-4d58-9257-d64fd0e739a5", "stringToSign"=>"GET\n2017-05-22T14:57:00Z+00:00\n/api/v1beta0/user/1/farms/112\n\n"}, "d

[2017-05-22 17:43] recipe commented on #90
@davemeekin https://api-explorer.scalr.com/ related to the latest stable release of Enterprise Scalr.

[2017-05-22 17:43] #90 closed

[2017-06-04 12:18] fossxplorer opened #91 "Is Scalr real FOSS software?"
I came across Scalr and read "Scalr is an open-source Cloud Management Platform (CMP)" with excitement to give it a try in a lab in the near future. I usually don't invest time learning non-FOSS software at all!
After reading https://github.com/Scalr/scalr/issues/88, i see that the github repo doesn't contain any commit since 26.09.2016 with version 5.11 while Enterprise version is already on 7.6.

[2017-06-04 12:19] fossxplorer commented on #88
@bobbravo2 have you seen any updates to Scalr since 5.11?

[2017-06-04 20:56] SebastianStadil commented on #91
Thanks for dropping us a note. 5.11 indeed is the latest community release, and while we don't have an ETA for the next one, this one works great.

Let us know how things go in your lab!

[2017-06-04 20:56] #91 closed

[2017-06-04 21:04] SebastianStadil commented on #88
Quick update here. We've been focused on features and functionality for our enterprise edition over the last year, and don't have any ETA for the next open source release. We'll of course make an announcement when we have one. :)

[2017-06-05 08:10] DicsyDel commented on #86
Work is in progress. New wiki article will be posted within the next week or two.

Regards,
Igor

[2017-06-05 08:10] #86 closed

[2017-06-05 10:16] recipe commented on #80
Thank you for the report. This issue has been fixed in Enterprise Scalr.

[2017-06-05 10:16] #80 closed

[2017-06-07 13:17] zaakiy opened #92 "In Hosted Scalr, a blank entry for 'Payer account' for AWS Cloud credential returns an error"
https://github.com/Scalr/scalr/blob/master/app/src/Scalr/UI/Controller/Account2/Environments/Clouds.php#L673

I have set up a valid AWS aaccount credential and successfully linked it to an environment. I wish to enable AWS Detailed Billing. I have enabled the AWS used to have full S3 access to the Detailed Billing bucket on S3.

I don't have multiple accounts and therefore I have no need for a pay

[2017-06-07 13:23] zaakiy commented on #92
OK, realised this is because I don't have any data yet in the bucket! Closing.

[2017-06-07 13:23] #92 closed

[2017-06-29 15:04] mrother commented on #91
Quick answer: NO.
They grow on the shoulders of open source, and distance itself from the community when they are stablished in the market. It's really a shame.

[2017-09-28 00:52] mrother commented on #88
Quick answer: NO.
They grow on the shoulders of open source, and distance itself from the community when they are stablished in the market. It's a shame.

[2017-09-28 01:16] SebastianStadil commented on #88
Thanks for commenting, Mauricio. It's quite the opposite; nevertheless I understand your anger and frustration.

Scalr first grew not on the shoulders of open source, but on those of Hosted Scalr, and then on those of Enterprise Scalr. It is the revenues from these products that allow us to pay ourselves, and build product and company. Scalr would not be anywhere close to where it is today without